{
  "title": "Локации",
  "scheme": {
    "id": {
      "type": "number",
      "autoincrement": true,
      "title": "id"
    },
    "name": {
      "type": "string",
      "title": "Название",
      "translatable": true
    },
    "description": {
      "type": "html",
      "title": "Описание",
      "translatable": true
    },
    "image": {
      "type": "string",
      "title": "Картинка",
      "translatable": true,
      "atlas": true
    },
    "list": {
      "type": "list",
      "title": "Список",
      "list": [
        {
       	   "id": 1,
          "name": "first"
        },
        {
          "id": 2,
          "name": "second"
        },
        {
          "id": 3,
          "name": "third"
        }
      ]
    },
    "link_value": {
      "type": "ref",
      "title": "Ссылка на справочник",
      "ref": "stages"
    },
    "form": {
      "type": "form",
      "title": "Параметры",
      "form": {
        "f1": {
          "type": "string",
          "title": "First field"
        },
        "f2": {
          "type": "number",
          "title": "Second field"
        },
        "f3": {
          "type": "html",
          "title": "Third field"
        },
        "f4": {
          "type": "list",
          "title": "Forth field",
          "list": [
            {
              "id": 1,
              "title": "first"
            },
            {
              "id": 2,
              "title": "second"
            },
            {
              "id": 3,
              "title": "third"
            }
          ]
        },
        "f5": {
          "type": "form",
          "title": "Inner form field",
          "form": {
            "inner_f": {
              "type": "string",
              "title": "Inner form field"
            },
            "link_value_2": {
		      "type": "ref",
		      "title": "Ссылка на справочник",
		      "ref": "stages"
		    }
          }
        }
      }
    },
    "blob": {
      "type": "blob",
      "title": "Блоб данных",
      "blob": {
        "scheme": {
          "index": {
            "type": "number",
            "title": "index"
          },
          "name": {
            "type": "string",
            "title": "Название"
          },
          "description": {
            "type": "html",
            "title": "Описание"
          },
          "list": {
            "type": "list",
            "title": "Список",
            "list": [
              {
                "id": 1,
                "title": "first"
              },
              {
                "id": 2,
                "title": "second"
              },
              {
                "id": 3,
                "title": "third"
              }
            ]
          }
        }
      }
    }
  }
}