{
  "title": "Этапы",
  "scheme": {
    "id": {
      "type": "number",
      "autoincrement": true,
      "title": "id",
      "readOnly": true
    },
    "form": {
      "type": "form",
      "title": "Форма с фильтром",
      "form": {
        "list": {
          "type": "list",
          "filter": true,
          "title": "Список",
          "list": [
            {
              "id": 1,
              "name": "first"
            },
            {
              "id": 2,
              "name": "second"
            },
            {
              "id": 3,
              "name": "third"
            }
          ]
        },
        "name": {
          "type": "string",
          "title": "Название",
          "filter_value": {
            "name": "list",
            "value": "1"
          }
        },
        "description": {
          "type": "html",
          "title": "Описание",
          "filter_value": {
            "name": "list",
            "value": "1"
          }
        },
        "description2": {
          "type": "html",
          "title": "Описание2",
          "filter_value": {
            "name": "list",
            "value": "2"
          }
        }
      }
    }
  }
}