<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="References">
  <meta name="author" content="olegdev">
  
  <link rel="stylesheet" type="text/css" href="css/ext-theme-classic-all-4_2_1.css" />
  <link rel="stylesheet" type="text/css" href="css/styles.css" />

  <title>References</title>

  <script type="text/javascript" src="js/ext-all-debug.js"></script>	
  <script type="text/javascript" src="js/tiny_mce/tiny_mce.js"></script>  
  <script type="text/javascript" src="js/app.js"></script>  

  <script type="text/javascript">
  var config = {
     references: [{
        name: "Локации",
        href: ""
     },{
        name: "Предметы",
        href: ""
     }],
     ref: {
      "group": "",
      "name": "Локации",
      "scheme": {
        "id": {
          "type": "number",
          "autoincrement": true,
          "name": "id"
        },
        "name": {
          "type": "string",
          "name": "Название"
        }

      }
    },
  }
  </script>

  </head>

  <body>
    {{{body}}}
  </body>
</html>